<phpunit bootstrap="../vendor/autoload.php">
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">../src</directory>
            <exclude>
            </exclude>
        </whitelist>
    </filter>
    <testsuites>
        <testsuite name="Utilities">
            <directory suffix=".php">./Utilities</directory>
            <directory suffix=".php">./Monitor</directory>
        </testsuite>
    </testsuites>
</phpunit>

